<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstap.css">
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
    <title> Assignment</title>
</head>
<body>
    <div id="app">
        <!-- {{ name }} -->
        <div class="alert " role="alert" id="questioni">
            <!-- <form action="assign.php" method="get"> -->

                <label class="form-label" for="">1st Number </label><input class="form-control" type="number" v-model="num1" id="inp" required><br>

                <label class="form-label" for="">2nd Number </label><input class="form-control" type="number" v-model="num2" id="inp" required><br>
                

                <div class="radio-toolbar">
                    <input type="radio" id="radioadd" v-model="math" value="+" checked>
                    <label for="radioadd">+</label>
                
                    <input type="radio" id="radiosub" v-model="math" value="-">
                    <label for="radiosub">-</label>
                
                    <input type="radio" id="radiomul" v-model="math" value="x">
                    <label for="radiomul">x</label> 

                    <input type="radio" id="radiodiv" v-model="math" name="radiofruit" value="/">
                    <label for="radiodiv">/</label> 
                </div>

                <label class="form-label">Result: </label><input class="form-control" type="number" v-model="result" id="result"><br>


                <!-- <p>&nbsp;</p> -->
                <!-- <button class="nit form-control" type="button" name="add"><input class="pond" type="radio" name="catch" value="+"> + </button>
                <button class="nit form-control" type="button" name="sub"><input class="pond" type="radio" name="catch" value="-"> - </button>
                <button class="nit form-control" type="button" name="mul"><input class="pond" type="radio" name="catch" value="x"> x </button>
                <button class="nit form-control" type="button" name="div"><input class="pond" type="radio" name="catch" value="/"> / </button><br><br> -->
                <!-- <button type="button" name="sub"> - </button>
                <button type="button" name="mul"> x </button>
                <button type="button" name="div"> / </button> -->

                <input class="form-control" type="submit" v-on:click="submit" value="Compute" name="compute" id="comp"><br>


                

            <!-- </form> -->

        </div>
    </div>

    <script type="text/javascript" src="app.js"></script>
</body>
</html>



