
.pond
{
    /* appearance: none; */
    text-align: center;
}

.nit 
{
   background-color: rgb(70, 70, 161);
   margin: auto;
   width: 53px;
   height: auto;
   display: inline-block;
   position: relative;
   color: white;
}

.nit:checked 
{
    background-color: brown;
}

#question
{
    margin: 40%;
    margin-top: 3%;
    background-color: rgb(201, 157, 243);
}

.card
{
    background-color: cornflowerblue;
}

#questioni
{
    margin: 39.5%;
    margin-top: 5%;
    background-color: rgb(193, 143, 240);
}

#inp
{
    background-color: cornflowerblue;
}

#comp
{
    background-color: cornflowerblue;
}

#result
{
    background-color: cornflowerblue;
    left: 30px;
}




.radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      background-color: cornflowerblue;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 4px;
  }
  
  .radio-toolbar label:hover {
    background-color: rgb(175, 213, 245);
  }
  
  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px dashed #444;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: rgb(126, 79, 170);
      border-color: cornflowerblue;
  }
  
  